
###### Basic app settings
NODE_ENV=development
SERVER_HOST=localhost
SERVER_PORT=8080
# SERVER_BASE_PATH=
LOG_LEVEL=debug
# Force application timezone (affects pretty logs)
TZ=UTC

# Database
# Directory where the database file will be stored
# Database filename is hardcoded as 'grand-publicador.db'
DATA_DIR="./test-data"
# OPTIONAL: Telegram ID of the super administrator
TELEGRAM_ADMIN_ID=""

###### Authentication
# MANDATORY: Change this to a long random string
JWT_SECRET="generate-a-very-long-and-secure-secret-here"
# MANDATORY: Token from @BotFather
TELEGRAM_BOT_TOKEN=""
# MANDATORY: API Key for External and Automation API (generate a long random string)
API_KEY=""

